.usersTable {
	width: clamp(700px, 100%, 1150px);
	overflow-x: scroll;
}
.usersTable::-webkit-scrollbar {
	height: 5px;
}

.usersTable::-webkit-scrollbar-track {
	background-color: none;
}
.usersTable::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.185);
}

.usersTable::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.507);
}

.users__body {
	width: 100%;
}

.users__header,
.users__item {
	display: grid;
	grid-template-columns: repeat(3, 350px) 50px;
	place-items: center;
	width: 100%;
	font-size: 1.4rem;
}

.users__header {
	width: fit-content;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 2px solid mediumpurple;
}

.users__header h2,
.users__body h3 {
	text-align: center;
	width: 100%;
	padding: 10px 0;
}

.middle {
	border-left: 2px solid mediumpurple;
	border-right: 2px solid mediumpurple;
}

.user--icon {
	color: mediumvioletred;
	align-self: center;
}
